# *Saved/
# BaseProject/Saved/
BaseProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
BaseProject/Saved/Crashes/
BaseProject/Saved/Config/CrashReportClient/
BaseProject/Saved/webcache_4147/